*.a
*.o
*.os
*.so
*.obj
*.out
*.lib
*.dll
*.exe
*.cxx
*.sln
*.proj
*.cbp
*.layout
*.project
*.internal
/CMakeFiles/*
*/CMakeFiles/*
*cmake_install*
CMakeCache.txt
install_manifest.txt
*Makefile*
/doc/Doxyfile
/doc/html/
